<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvTG0XDiAjHu4ycHmLvRY8e7Sdfm9iGTs</string>
	<key>GCM_SENDER_ID</key>
	<string>616065838439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alperenturker.connectinnonote.connectinnonote</string>
	<key>PROJECT_ID</key>
	<string>connectinnonote</string>
	<key>STORAGE_BUCKET</key>
	<string>connectinnonote.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616065838439:ios:12e63ac0e47984432dd3c2</string>
</dict>
</plist>